<header class="header">
	<div class="header__wrapper">
		<div class="header__container container">
			<div class="header__body">
				<div class="header__main">
					<a href="" class="header__logo">Funiro.</a>
					<nav class="menu__body">
						<ul class="menu__list">
							<li class="menu__item"><a href="" class="menu__link">Products</a>
								<button data-spoller type="button" class="menu__arrow _icon-arrow-down"></button>
								<ul class="menu__sub-list">
									<li class="menu__sub-item">
										<a href="" class="menu__sub-link">Product #1</a>
									</li>
									<li class="menu__sub-item">
										<a href="" class="menu__sub-link">Product #1</a>
									</li>
									<li class="menu__sub-item">
										<a href="" class="menu__sub-link">Product #1</a>
									</li>
								</ul>
							</li>
							<li class="menu__item"><a href="" class="menu__link">Rooms</a>
								<button data-spoller type="button" class="menu__arrow _icon-arrow-down"></button>
								<ul class="menu__sub-list">
									<li class="menu__sub-item">
										<a href="" class="menu__sub-link">Room #1</a>
									</li>
									<li class="menu__sub-item">
										<a href="" class="menu__sub-link">Room #1</a>
									</li>
									<li class="menu__sub-item">
										<a href="" class="menu__sub-link">Product #1</a>
									</li>
								</ul>
							</li>
							<li class="menu__item"><a href="" class="menu__link">Inspirations</a></li>
						</ul>
					</nav>
				</div>
				<div class="header__search">
					<div class="search-form">
						<button type="button" class="search-form__icon _icon-search"></button>
						<form action="#" class="search-form__item">
							<button class="search-form__btn _icon-search" type="button"></button>
							<input type="text" autocomplete="off" name="form[]" data-value="Search for minimalist chair"
								class="search-form__input">
						</form>
					</div>
				</div>
				<div class="header__actions actions-header">
					<a href="" class="actions-header__item actions-header__item-favorites _icon-favorite"></a>
					<div class="actions-header__item cart-header">
						<a href="" class="card-header__icon _icon-card"><span>1</span></a>
						<div class="cart-header__body">
							<ul class="cart-header__list cart-list">

							</ul>
						</div>
					</div>
					<a href="" class="actions-header__item actions-header_item_user _ibg">
						<img src="../assets/images/avatar.jpg" width="100px" alt="Avatar">
					</a>
				</div>
				<button type="button" class="icon__menu">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>
		</div>
	</div>
</header>